* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: mediumvioletred;
}

nav{
    background-color: #f2d8e0;
    padding: 10px;
    width: 200px;
}

.botao-nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid black;
}

.img-e-texto {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.img {
    width: 30px;
    margin-right: 10px;
}

header button{
    padding: 0 10px;
}


main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bolos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 5px slategrey;
    text-align: center;
}

.bolo-imagem{
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;;
    background-color: mediumvioletred;
}

