* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: mediumvioletred;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 200px;
}

header img {
    width: 35px;
    height: 35px;
}

header button{
    padding: 0 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}

#menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    background-color: #f2d0e0;
    border: 1px solid black;
}

#menu img{
    width: 25px;
}

.pages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    padding: 5px 10px;
    border: 1px solid black;

}

#bolos {
    display: grid;
    justify-items: stretch;
    text-align: center;
    padding: 10px;
    width: 230px;
    border: 1px solid black;
}

#bolos img {
    width: 200px;
    height: 200px;
    align-items: center;
    padding: 10px;  
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;;
    background-color: mediumvioletred;
}

