/* ESTILIZAÇÃO GERAL */
* {
    margin:0;
    padding: 0;
}

body {
    background-color: #243239;
    font-family: 'Work Sans';
}

header h1 {
    display: inline-block;
    margin: 0 auto;
    color: #964b46;
    text-align: left;
    padding: 20px;
}

.paginas {
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    position: relative;
    left: 800px;
    color: #161220;
}

.paginas:hover{
    color: #e6c985;
}

div h2 {
    color: #964b46;
    margin: 50px;
    text-align: center;
}

ul{
    list-style-position: inside;
}

footer {
    margin: 50px auto;
    max-width: 200px;
    padding: 10px;
    color: whitesmoke;
    text-align: center;    
}

#imagens {
    text-align: center;
    margin: 20px auto;
}
.imagem {
    height: 70px;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}
.imagem:hover{
    opacity: 50%;
}
.imagem:active{
    opacity: unset;
}

/* ESTILIZAÇÃO PÁGINA INICIAL */


.container {
    max-width: 600px;
    margin: 20px auto;
    font-size: large;
    color: #e1c295;
    text-align: center;
    padding: 5px;
}


.container h3 {
    color: #964b46;
    padding: 8px;
}


#container-descricao-perfil {
    margin: 0 auto;
    max-width: 1000px;
}

#container-descricao-perfil img{
    border-radius: 60%;
}

#container-habilidades{
    max-width: 800px;
    padding: 10px;
}

#projeto-loja {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}

#projeto-loja a{
    color: #161220;
}
#projeto-loja a:hover{
    color:#e6c985;
}
#projeto-loja img {
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    width: 300px;
    height: 150px;
}
#projeto-90sflix {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}

#projeto-90sflix a{
    color: #161220;
}
#projeto-90sflix a:hover{
    color:#e6c985;
}
#projeto-90sflix img {
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    width: 300px;
    height: 150px;

}

#projeto-instagram {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}

#projeto-instagram a{
    color: #161220;
}
#projeto-instagram a:hover{
    color:#e6c985;
}
#projeto-instagram img {
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    width: 300px;
    height: 150px;
}

#projeto-snake-game {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}

#projeto-snake-game a{
    color: #161220;
}
#projeto-snake-game a:hover{
    color:#e6c985;
}
#projeto-snake-game img {
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    width: 300px;
    height: 150px;
}

/* ESTILIZAÇÃO PÁGINA PROJETO LOJA */

#cinco-da-tarde img{
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

#descricao-projeto {
    max-width: 800px;
    margin: 20px auto;
    font-size: large;
    color: #e1c295;
    text-align: center;
}

/* ESTILIZAÇÃO PÁGINA NETFLIX */

#netflix img{
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

#descricao-projeto {
    max-width: 800px;
    margin: 20px auto;
    font-size: large;
    color: #e1c295;
    text-align: center;
}

/* ESTILIZAÇÃO PÁGINA INSTAGRAM */

#instagram img{
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

#descricao-projeto {
    max-width: 800px;
    margin: 20px auto;
    font-size: large;
    color: #e1c295;
    text-align: center;
}

/* ESTILIZAÇÃO PÁGINA SNAKE GAME */

#snake-game img{
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

#descricao-projeto {
    max-width: 800px;
    margin: 20px auto;
    font-size: large;
    color: #e1c295;
    text-align: center;
}

/* ESTILIZAÇÃO PÁGINA DE CONTATO */

#mensagem input{
    width: 490px;
    height: 100px;
} 
#mensagem {
    max-width: 500px;
}
